body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;

}

.nav-bar {
  background: white;
  border:white;
  display: flex;
  align-items: center;

}

.nav-div {
  display: flex;
  justify-content: space-around;
}

.home-btn {
  border-radius: 0px;
  color: white;
  border: 1px solid #FFDC00;
  background: #FDC000;
  transition: background 0.5s ease-in;
}

.home-btn:hover {
  color: #FFDC00;
  background: white;
  border: 1px solid #FFDC00;
  
}

.about-btn {
  border-radius: 0px;
  color: white;
  border: 1px solid #2ECC40;
  background: #2ECC40;
  transition: background 0.5s ease-in;
  display: flex;
  align-items: center;
}

.about-btn:hover {
  color: #2ECC40;
  background: white;
  border: 1px solid #2ECC40;

}

.projects-btn {
  border-radius: 0px;
  color: white;
  border: 1px solid #0074D9;
  background: #0074D9;
  transition: background 0.5s ease-in;
  display: flex;
  align-items: center;
}

.projects-btn:hover {
  color: #0074D9;
  background: white;
  border: 1px solid #0074D9;
}

.contact-btn {
  border-radius: 0px;
  color: white;
  border: 1px solid #FF4136;
  background: #FF4136;
  transition: background 0.5s ease-in;
  display: flex;
  align-items: center;
}

.contact-btn:hover {
  color: #FF4136;
  background: white;
  border: 1px solid #FF4136;
}

.my {
  color:#2ECC40;
}

.custom-btn {
  margin-bottom: -5px;
  margin-top: -5px;
  border-radius: 0;
  font-family: 'Work Sans', sans-serif ;
}

.description-layer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(32, 32, 32, 0.8);
  color: #fff;
  visibility: hidden;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;

/* transition effect. not necessary */
  transition: opacity .2s, visibility .2s;
}



.img-wrap:hover .description-layer {
  visibility: visible;
  opacity: 1;
}

.description {
  transition: .2s;
  transform: translateY(1em);
  font-size: 20px;

}

.img-wrap:hover .description {
  transform: translateY(0);
}

.copyright {
  font-family: 'Work Sans', sans-serif ;
  font-size: 18px;
}

.about-me-btn {
  background: #F0CD22;
  color: white;
  border: #D6B614;
  font-family: 'Work Sans', sans-serif;
  font-size: 30px;
}

.here-btn {
  background: #2ECC40;
  color: white;
  font-family: 'Work Sans', sans-serif;
  border: #2ECC40;
  font-size: 15px;
}

.contact-me-btn {
  background: #0074D9;
  color: white;
  font-family: 'Work Sans', sans-serif;
  border: 1px solid white;
  font-size: 15px;
}

.about-bounce-to-right {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.about-bounce-to-right:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #2ECC40;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.about-bounce-to-right:hover, .about-bounce-to-right:focus, .about-bounce-to-right:active {
  color: white;
}
.about-bounce-to-right:hover:before, .about-bounce-to-right:focus:before, .about-bounce-to-right:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}

.hvr-bounce-to-right {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.hvr-bounce-to-right:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #0074D9;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-bounce-to-right:hover, .hvr-bounce-to-right:focus, .hvr-bounce-to-right:active {
  color: white;
}
.hvr-bounce-to-right:hover:before, .hvr-bounce-to-right:focus:before, .hvr-bounce-to-right:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}

.contact-bounce-to-right {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.contact-bounce-to-right:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #FF4136;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.contact-bounce-to-right:hover, .contact-bounce-to-right:focus, .contact-bounce-to-right:active {
  color: white;
}
.contact-bounce-to-right:hover:before, .contact-bounce-to-right:focus:before, .contact-bounce-to-right:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}

.hvr-shrink {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-shrink:hover, .hvr-shrink:focus, .hvr-shrink:active {
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
}